body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.3em;
    background-color: rgb(255, 255, 255);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}  
.header{
    display: flex;
    /* background-color: rgba(255, 255, 255, 0.103);
    backdrop-filter: blur(10px);
    box-shadow: inset rgba(255, 255, 255, 0.288) 20px -10px 20px; */
    background-color: #393958;
}
.nav{
    padding-top: 35px;
    margin-left: 23%;
}
a{
    text-decoration: none;
    padding-left: 30px;
    color: #fff;
}
.logo{
    padding-top: 20px;
}
.order-text h2{
    padding-top: 20px;
    color: #393958;
}
.order-text p{
    color: #5f5f5f;
    padding-bottom: 30px;
}
.imges{
    display: flex;
}
.img-order{
    padding-right: 30px;
    padding-left: 5%;
}
.img-order-2{
    width: 30%;
}
.under-order-text h2{
    padding-top: 40px;
    color: #393958;
}
.under-order-text p{
    color: #5f5f5f;
    padding-bottom: 30px;
}
.under-text h2{
    padding-top: 40px;
    color: #393958;
}
.under-text p{
    color: #5f5f5f;
    padding-bottom: 30px;
}
.footer-flex{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #393958;
    color: #fff;
    padding: 40px 40px;
}
.img-div{
    width: 25%;
    margin-left: 30px;
}
.text-div{
    width: 30%;
}
.text-div-two{
    width: 30%;
    padding-left: 30px;
}
.text-div-two h4{
    padding-left: 30px;
}
.inputs-div{
    width: 20%;
}
.footerimg{
    padding-top: 30px;
    padding-bottom: 20px;
}
.input{
    padding: 10px 20px;
    border-radius: 20px;
}
.under_a{
    font-size: 14px;
    margin-left: 10px;
    border: 1px solid #fff;
    padding: 10px 10px;
    border-radius: 10px;
}